* {
  font-family: 'Noto Sans TC', Microsoft YaHei, Arial, '宋體', Tahoma, Helvetica, sans-serif;
}

.bg-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &-1 {
    background-image: url("https://fakeimg.pl/1000/?text=Home");
  }
}